torchvision==0.15.1
requests
dask[distributed]
dask-image
matplotlib
pyyaml
scipy
git+https://github.com/facebookresearch/segment-anything.git
scikit-image
scikit-learn
torch
numpy<2
tqdm
pytest
# Docs
sphinx
pydata-sphinx-theme
sphinx-gallery
napari
pyqt6
