torchvision==0.15.1
pyyaml
lightning
scipy
git+https://github.com/facebookresearch/segment-anything.git
matplotlib
scikit-image
websockets
fastapi
uvicorn
google-cloud-storage
google-auth
torch
numpy
python-multipart